{
  "subprocess_encode": "gbk",
  "exit_when_finish": true,
  "iface": "以太网",
  "iplist": [
    {
      "name": "test1",
      "address": "192.168.1.2",
      "netmask": "255.255.255.0",
      "gateway": "192.168.1.1",
      "dns": [
        "1.1.1.1",
        "192.168.1.1",
        "只有前两个有效，后面写啥都没用"
      ]
    },
    {
      "name": "test2",
      "address": "192.168.0.0",
      "netmask": "255.255.128.0",
      "gateway": "192.168.0.1"
    },
    {
      "name": "test3",
      "address": "1.1.1.2",
      "netmask": "255.255.255.0"
    }
  ],
  "debug_subprocess_disable": false,
  "debug_std_output": false
}